* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-image: url('./img/bg2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container-sm-fluid {
  border: 44px solid #d22d4d;
  border-radius: 20px;
  background: #ffffffd7;
}
.col-12 {
  height: auto;
  overflow: hidden;
}
.col-12 img {
  transition: all 0.2s linear;
}
.col-12 img:hover {
  cursor: pointer;
  filter: blur(1px);
}

.selected {
  filter: blur(1px);
}
